* {
  box-sizing: border-box;
}
body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  height: 40%;
  width: 40%;
}

h1 {
  text-align: center;
  color: #2979ee;
}
.form-body {
  text-align: left;
  padding: 10px;
}
.form-body > * {
  padding: 5px;
}
.form__label {
  width: 40%;
}
.footer {
  text-align: center;
}

.form__input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.btn {
  background-color: #2196f3;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
a {
  color: dodgerblue;
}
